@page
@model LoginModel

@{
    ViewData["Title"] = "";
}

<style>
    .external-login-box {
        background-color: #0077b5;
        border: none;
        color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .external-login-box:hover {
            background-color: #005582;
            /
        }

        .external-login-box .icon {
            margin-right: 10px;
        }
</style>

<h1>@ViewData["Title"]</h1>

<body class="bg-image">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-9">
            <div class="text-center mb-4">
                <h1 style="color:#000033; font-weight: bold; font-size: 3rem;">Use a local account to login</h1>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="p-3 mb-5 bg-transparent rounded">
                        <div class="card-body">
                            <section>
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <div>
                                            <p>There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article about setting up this ASP.NET application to support logging in via external services</a>.</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins!)
                                                    {
                                                        <button type="submit" class="external-login-box w-100 d-flex align-items-center mb-3" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                            <div class="icon" style="padding: 10px;">
                                                                <i class="fab fa-@provider.Name.ToLower() fa-2x"></i>
                                                            </div>
                                                            <div style="flex-grow: 1; text-align: left; padding: 10px;">
                                                                Continue with @provider.DisplayName
                                                            </div>
                                                        </button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </section>
                            <div class="d-flex justify-content-center mb-3">
                                <h6 style="color: #000033" ;>or</h6>
                            </div>
                            <section>
                                <form id="account" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="Input.Email" class="form-label">Email</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                        <label asp-for="Input.Password" class="form-label">Password</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="checkbox mb-3">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />

                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <div>
                                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                                    </div>
                                    <div>

                                        <p>
                                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                        </p>
                                        <p>
                                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                        </p>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-2">
    </div>
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}